<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', _external=True) }}"> 

    <!-- Local Bootstraps -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}">

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Title -->
    <title>{% block title %}MTZ Materials{% endblock %} - MTZ Materials</title>
    {% endblock %}
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-light navbar-expand-md py-3 nav">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index')}}">
                <span>MTZ Materials</span>
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="createBtn btn fs-5 me-2 py-2 px-4 d-grid gap-2" type="button">Create Order</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('view_orders') }}" class="viewBtn btn fs-5 py-2 me-2 px-4 d-grid gap-2" type="button">View Orders</a>
                    </li>
                </ul>
      
            </div>
        </div>
    </nav>

    <br/>

    <!-- block used display pages -->
    <div id="content" class="content">{% block content %}{% endblock %}</div>
<br/>
    <!-- Footer -->
    <div id="footer" >
        {% block footer %}

        <footer class="bg-light text-center text-lg-start fixed-bottom">
            <!-- Copyright -->
            <div class="text-center p-3 footer">
                &copy; Copyright MTZ Materials 2023
            </div>
            <!-- Copyright -->
          </footer>

        {% endblock %}
    </div>
    
    <!-- Local Bootstrap JS -->
    <script src="{{url_for(('static'),  filename='js/bootstrap.bundle.min.js', _external=True) }}"></script>
 
</body>
</html>