{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- Confirmation Message to delete Order -->
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5" style="background: #c6c6c6; height: 275.258px;">
            <form action="{{ url_for('confirmDelete') }}" method="POST">

                <!-- Confirmation Message-->
                <h1>Are you sure you want to Delete Order: </h1> 
                <!-- Passes Order ID to page-->
                <input name="orderId" value="{{orderId}}" hidden/>
                <!-- Displays the Order ID-->
                <h1>{{orderId}}</h1>
                <!-- Submit Button -->
                <input type="submit" class=" btn deleteBtn" value="Delete">
                <!-- Cancel button retruns to view all page -->
                <a class="btn viewBtn" href="{{ url_for('viewOrders') }}">Cancel</a>
                <br/>
            </form>
        </div>
    </div>
</section>





{% endblock %}