{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<div id="nuggetz" class="container py-4 py-xl-5">
    <div class="row" th:fragment="list" xmlns:th="http://www.thymeleaf.org">
        <div class="col-md-8 col-xl-6 mx-auto p-4">
            <div th:each="form : ${formList}"
                class="d-flex align-items-center align-items-md-center align-items-xl-center"
                style="justify-content: center; margin: 0 10px;">
                <div>
                    <h4 th:text="${form.category}">default text</h4>
                    <p th:text="${form.message}">default text</p>
                    <p>by <span style="float: none;" th:text="${form.username}">default text</span></p>



                </div>
            </div>

        </div>
    </div>

</div>


{% endblock %}