/* Create Button */
.createBtn {
    color: rgb(0,0,0);
    background: rgb(45,176,89) !important;
    border-style: solid;
    border-color: rgb(0,0,0) !important;
}

/* Create Button While Hovered & Active */
.createBtn:hover, .createBtn:active {
    color: rgb(0,0,0);
    background: rgb(90, 168, 116) !important;
    border-style: solid;
    border-color: rgb(0,0,0) !important;
}

/* Delete Button */
.deleteBtn {
    color: rgb(0,0,0);
    background: rgb(255, 60, 0) !important;
    border-style: solid;
    border-color: rgb(0,0,0) !important;
}

/* Create Delete while Hovered & Active */
.deleteBtn:hover, .deleteBtn:active {
    background: rgb(255, 108, 63) !important;
    border-style: solid;
    border-color: rgb(0,0,0) !important;
}

/* View Button */
.viewBtn {
    color: rgb(0,0,0);
    background: rgb(95,175,255) !important;
    border-style: solid; 
    border-color: rgb(0,0,0) !important;
}

/* Create View while Hovered & Active */
.viewBtn:hover, .viewBtn:active {
    background: rgb(131, 188, 245) !important;
    border-style: solid; 
    border-color: rgb(0,0,0) !important;

}

/* Input text box */
.inputBox {
    border: 0;
    text-align: center;
    overflow: hidden;
}

/* Input text box for edit page */
.inputBoxEdit {
    border: 2;
    text-align: center;
    overflow: hidden;
}

/* Input text box Button */
.viewAll {
    max-width: 60%;
    border: 2px solid black;
    padding: 15px;
}

.nav-item {
    text-align: center;
}

button.navbar-toggler {
    /* background-color: white; */
    text-align: center;
}

.inputTareBox {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 60px;
}

.weightBox{
    background: #c6c6c6; 
    height: 300px;
}

.grossTextSize {
    font-size: 60px;
}

.nav {
    background: #c4c4c4;
}
.footer {
    /* padding-top: 10px; */
    background: #c4c4c4;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    height: 50px;

}
.content {
    padding-bottom: 50px
}

input[readonly] {
    background-color: white !important;
}

.inputGrossBox {
    border: none;
    background-color: #c4c4c4;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 60px;
  }
